<!-- Copyright ⓒ 2017 Han Sea Un  All rights reserved -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>:: 미 래 마 켓 ::</title>
    <link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mobile_header.css">
    <link rel="stylesheet" href="/static/css/tablet_header.css">
    <link rel="stylesheet" href="/static/css/desktop_header.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/css/tablet.css">
    <link rel="stylesheet" href="/static/css/desktop.css">
    <link rel="stylesheet" href="/static/css/mobile_sub.css">
    <link rel="stylesheet" href="/static/css/mobile_sub.css">
    <link rel="stylesheet" href="/static/css/desktop_sub.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    <main class="con layout">
        <div class="con_header con_header_100">
            <h1><a href="/">미 래 마 켓</a> 회원가입</h1>
        </div>
        <div class="con_con con_con_100 con_join">
            <h1>미래마켓에 오신 것을 환영합니다.</h1>
            <h3>회원 가입하신 후 미래마켓의 다양한 서비스를 만나보세요.</h3>
        </div>
        <div class="con_footer con_footer_100">
            <ul>
                <li>
                    <a href="/app/view/sub2.html">
                        <p>개인<br>구매회원</p>
                        <p>만 14세 이상의 내국인</p>
                        <button>가입하기</button>
                    </a>
                </li>
                <li>
                    <a href="/app/view/sub2.html">
                        <p>사업자<br>구매회원</p>
                        <p>만 14세 이상의 내국인</p>
                        <button>가입하기</button>
                    </a>
                </li>
                <li>
                    <a href="/app/view/sub2.html">
                        <p>사업자<br>셀러회원</p>
                        <p>만 14세 이상의 내국인</p>
                        <button>가입하기</button>
                    </a>
                </li>
                <li>
                    <a href="/app/view/sub2.html">
                        <p>개인<br>셀러회원</p>
                        <p>만 14세 이상의 내국인</p>
                        <button>가입하기</button>
                    </a>
                </li>
                <li>
                    <a href="/app/view/sub2.html">
                        <p>글로벌<br>셀러회원</p>
                        <p>만 14세 이상의 내국인</p>
                        <button>가입하기</button>
                    </a>
                </li>
            </ul>
            <span>※ 회원가입은 간단한 정보입력만으로 가입이 가능하나, 상품 결제 등 실명 기반 서비스 이용 시에는 실명인증이 필요할 수 있습니다.</span>
        </div>
    </main>
    <div class="footer_wrapper">
        <footer class="footer">
            <ul class="layout">
                <li><a href="/app/view/sub2.html">회사소개</a></li>
                <li><a href="/app/view/sub2.html">이용약관</a></li>
                <li><a href="/app/view/sub2.html">전자금융거래약관</a></li>
                <li><a href="/app/view/sub2.html">개인정보처리방침</a></li>
                <li><a href="/app/view/sub2.html">입점문의</a></li>
                <li><a href="/app/view/sub2.html">셀러존</a></li>
                <li><a href="/app/view/sub2.html">브랜드광고센터</a></li>
                <li><a href="/app/view/sub2.html">안전거래센터</a></li>
                <li><a href="/app/view/sub2.html">Open API</a></li>
                <li><a href="/app/view/sub2.html">서비스맵</a></li>
            </ul>
        </footer>
        <footer class="footer layout">
            <div class="footer_con">
                <a href="/">미 래 마 켓</a>
                <address>
                    <h3>(주)미래마켓</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    대표이사 : 한세운 <br/>
                    통신판매업신고 : 2017-경기성남-1234<br/>
                    Tel: 1234-5678 Fax: 02-123-4567<br/>
                </address>
                <address>
                    <h3>고객센터</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    Tel : 1234-5678<br/>
                    Fax : 02-123-4567<br/>
                    E-mail : HanSeaUn@naver.com<br/>
                </address>
            </div>
            <div class="footer_copy">
                <p>미래마켓(주)은 통신판매중개자로서 오픈마켓 미래마켓의 거래당사자가 아니며, 입점판매자가 등록한 상품정보 및 거래에 대해 미래마켓(주)은 일체 책임을 지지 않습니다.</p>
                <p>Copyright Han Sea Un. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>