<!-- Copyright ⓒ 2017 Han Sea Un  All rights reserved -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>:: 미 래 마 켓 ::</title>
    <link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mobile_header.css">
    <link rel="stylesheet" href="/static/css/tablet_header.css">
    <link rel="stylesheet" href="/static/css/desktop_header.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/css/tablet.css">
    <link rel="stylesheet" href="/static/css/desktop.css">
    <link rel="stylesheet" href="/static/css/mobile_sub.css">
    <link rel="stylesheet" href="/static/css/mobile_sub.css">
    <link rel="stylesheet" href="/static/css/desktop_sub.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        <div class="banner_layout">
            <a href="/" target="_blank"><img src="/static/img/header/banner.JPG" alt="banner"></a>
            <div class="close">
                <div class="close_bar"></div>
                <div class="close_bar"></div>
            </div>
        </div>
    </div>
    <div class="header_wrap">
        <header class="header layout">
            <a href="/">미 래 마 켓</a>
            <form action="#" method="get">
                <input type="search" placeholder="검색">
            </form>
        </header>
    </div>
    <div class="header_wrap header_fixed">
        <header class="header layout">
            <ul>
                <li><a href="/app/view/sub2.html">베스트</a></li>
                <li><a href="/app/view/sub2.html">쿠폰/출첵</a></li>
                <li><a href="/app/view/sub2.html">슈퍼딜</a></li>
                <li><a href="/app/view/sub2.html">스마일배송</a></li>
                <li><a href="/app/view/sub2.html">홈플러스</a></li>
                <li><a href="/app/view/sub2.html">G9</a></li>
            </ul>
            <ul class="admin">
                <li><a href="/app/view/sub2.html">장바구니</a></li>
                <li><a href="/app/view/sub2.html">나의 쇼핑</a></li>
                <li><a href="/app/view/join.html" class="join">회원가입</a></li>
                <li><a href="/app/view/login.html" class="login">로그인</a></li>
            </ul>
        </header>
    </div>
    <main class="con layout">
        <div class="con_header">
            <h1><span>미 래 마 켓</span> 로그인</h1>
            <a href="/app/view/sub2.html"><img src="/static/img/sub/1.jpg" alt="img"></a>
        </div>
        <div class="con_con">
            <div class="form">
                <div class="form_input">
                    <input type="radio" name="s">회원
                    <input type="radio" name="s">비회원(주문조회)
                    <input type="text" id="id_j" placeholder="로그인">
                    <input type="password" id="pw_j" placeholder="패스워드">
                    <input type="checkbox">아이디저장
                </div>
                <button id="login_j">로그인</button>
                <div class="form_btn">
                    <input type="button" value="회원가입">
                    <input type="button" value="아이디 찾기">
                    <input type="button" value="비밀번호 찾기">
                </div>
            </div>
        </div>
        <div class="con_footer">
            <a href="http://event.mypoten.com/totalDual/2017_11th_2/YE2017102405_11st_c_pt_n_pop/jsp/main.jsp?site_code=110404"><img src="/static/img/sub/a41c987a8d97baaa82fa6840f17eed49.gif" alt="gif"></a>
            <a href="https://www.safeconnect.co.kr/sfconn/event/scEvent_11st?et=event_non_reward02"><img src="/static/img/sub/56824378815b8a794d678e2259ee7cec.jpg" alt="img"></a>
        </div>
    </main>
    <div class="footer_wrapper">
        <footer class="footer">
            <ul class="layout">
                <li><a href="/app/view/sub2.html">회사소개</a></li>
                <li><a href="/app/view/sub2.html">이용약관</a></li>
                <li><a href="/app/view/sub2.html">전자금융거래약관</a></li>
                <li><a href="/app/view/sub2.html">개인정보처리방침</a></li>
                <li><a href="/app/view/sub2.html">입점문의</a></li>
                <li><a href="/app/view/sub2.html">셀러존</a></li>
                <li><a href="/app/view/sub2.html">브랜드광고센터</a></li>
                <li><a href="/app/view/sub2.html">안전거래센터</a></li>
                <li><a href="/app/view/sub2.html">Open API</a></li>
                <li><a href="/app/view/sub2.html">서비스맵</a></li>
            </ul>
        </footer>
        <footer class="footer layout">
            <div class="footer_con">
                <a href="/">미 래 마 켓</a>
                <address>
                    <h3>(주)미래마켓</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    대표이사 : 한세운 <br/>
                    통신판매업신고 : 2017-경기성남-1234<br/>
                    Tel: 1234-5678 Fax: 02-123-4567<br/>
                </address>
                <address>
                    <h3>고객센터</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    Tel : 1234-5678<br/>
                    Fax : 02-123-4567<br/>
                    E-mail : HanSeaUn@naver.com<br/>
                </address>
            </div>
            <div class="footer_copy">
                <p>미래마켓(주)은 통신판매중개자로서 오픈마켓 미래마켓의 거래당사자가 아니며, 입점판매자가 등록한 상품정보 및 거래에 대해 미래마켓(주)은 일체 책임을 지지 않습니다.</p>
                <p>Copyright Han Sea Un. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>