<!-- Copyright ⓒ 2017 Han Sea Un  All rights reserved -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>:: 미 래 마 켓 ::</title>
    <link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mobile_header.css">
    <link rel="stylesheet" href="/static/css/tablet_header.css">
    <link rel="stylesheet" href="/static/css/desktop_header.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/css/tablet.css">
    <link rel="stylesheet" href="/static/css/desktop.css">
    <link rel="stylesheet" href="/static/css/mobile_sub.css">
    <link rel="stylesheet" href="/static/css/tablet_sub.css">
    <link rel="stylesheet" href="/static/css/desktop_sub.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        <div class="banner_layout">
            <a href="/" target="_blank"><img src="static/img/header/banner.JPG" alt="banner"></a>
            <div class="close">
                <div class="close_bar"></div>
                <div class="close_bar"></div>
            </div>
        </div>
    </div>
    <div class="header_wrap ">
        <header class="header layout">
            <a href="/">미 래 마 켓</a>
            <form action="#" method="get">
                <input type="search" placeholder="검색">
            </form>
        </header>
    </div>
    <div class="header_wrap header_fixed">
        <header class="header layout">
            <ul>
                <li><a href="/app/view/sub2.html">베스트</a></li>
                <li><a href="/app/view/sub2.html">쿠폰/출첵</a></li>
                <li><a href="/app/view/sub2.html">슈퍼딜</a></li>
                <li><a href="/app/view/sub2.html">스마일배송</a></li>
                <li><a href="/app/view/sub2.html">홈플러스</a></li>
                <li><a href="/app/view/sub2.html">G9</a></li>
            </ul>
            <ul class="admin">
                <li><a href="/app/view/sub2.html">장바구니</a></li>
                <li><a href="/app/view/sub2.html">나의 쇼핑</a></li>
                <li><a href="/app/view/join.html" class="join">회원가입</a></li>
                <li><a href="/app/view/login.html" class="login">로그인</a></li>
            </ul>
        </header>
    </div>
    <div class="top_wrap">
        <div class="top"> ▲ </div>
    </div>
    <main class="con layout">
        <div class="viewer_img">
            <img src="/static/img/sub/noimg.png" alt="noimg">
        </div>
        <div class="viewer_con">
            <div class="viewer_con_title">
                <h2>[상품]상품이 존재하지 않습니다</h2>
            </div>
            <div class="viewer_con_won">
                <div class="viewer_con_pusent"><h1>44%</h1></div>
                <p class="viewer_con_slae">16,000 원</p>
                <h1>8,900 원</h1>
            </div>
            <div class="viewer_con_icon">
                <img src="/static/img/sub/like.png" alt="like">
                <img src="/static/img/sub/shape.png" alt="like">
            </div>
            <div class="clear"></div>
            <div class="viewer_con_text">
                <h3><span class="color_b">내일 출발예정</span> - SW 세한통운</h3>
            </div>
            <div class="viewer_con_cont">
                <h3>택배 - <span class="color_b">무료배송</span></h3>
                <h3>스마일캐쉬 - <span class="color_b">최대 1.2% 적립</span></h3>
                <h3>카드무이자 - 카드추가혜택</h3>
                <h3>원산지 - 중국</h3>
                <h3>옵션
                    <select>
                        <option>선택</option>
                        <option>옵션 1</option>
                        <option>옵션 2</option>
                        <option>옵션 3</option>
                        <option>옵션 4</option>
                        <option>옵션 5</option>
                        <option>옵션 6</option>
                        <option>옵션 7</option>
                        <option>옵션 8</option>
                        <option>옵션 9</option>
                        <option>옵션 10</option>
                        <option>옵션 11</option>
                        <option>옵션 12</option>
                        <option>옵션 13</option>
                    </select>
                </h3>
            </div>
            <div class="viewer_buy">
                <h2>장바구니</h2>
                <h2>구매하기</h2>
            </div>
        </div>
        <div class="clear"></div>
        <div class="viewer_explanation">
            <ul>
                <li><a href="/app/view/sub2.html">상품설명</a></li>
                <li><a href="/app/view/sub2.html">상품리뷰</a></li>
                <li><a href="/app/view/sub2.html">Q&A</a></li>
                <li><a href="/app/view/sub2.html">판매자정보</a></li>
            </ul>
            <div class="viewer_explanation_con">
            </div>
        </div>
    </main>
    <div class="footer_wrapper">
        <footer class="footer">
            <ul class="layout">
                <li><a href="/app/view/sub2.html">회사소개</a></li>
                <li><a href="/app/view/sub2.html">이용약관</a></li>
                <li><a href="/app/view/sub2.html">전자금융거래약관</a></li>
                <li><a href="/app/view/sub2.html">개인정보처리방침</a></li>
                <li><a href="/app/view/sub2.html">입점문의</a></li>
                <li><a href="/app/view/sub2.html">셀러존</a></li>
                <li><a href="/app/view/sub2.html">브랜드광고센터</a></li>
                <li><a href="/app/view/sub2.html">안전거래센터</a></li>
                <li><a href="/app/view/sub2.html">Open API</a></li>
                <li><a href="/app/view/sub2.html">서비스맵</a></li>
            </ul>
        </footer>
        <footer class="footer layout">
            <div class="footer_con">
                <a href="/">미 래 마 켓</a>
                <address>
                    <h3>(주)미래마켓</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    대표이사 : 한세운 <br/>
                    통신판매업신고 : 2017-경기성남-1234<br/>
                    Tel: 1234-5678 Fax: 02-123-4567<br/>
                </address>
                <address>
                    <h3>고객센터</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    Tel : 1234-5678<br/>
                    Fax : 02-123-4567<br/>
                    E-mail : HanSeaUn@naver.com<br/>
                </address>
            </div>
            <div class="footer_copy">
                <p>미래마켓(주)은 통신판매중개자로서 오픈마켓 미래마켓의 거래당사자가 아니며, 입점판매자가 등록한 상품정보 및 거래에 대해 미래마켓(주)은 일체 책임을 지지 않습니다.</p>
                <p>Copyright Han Sea Un. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>