<!-- Copyright ⓒ 2017 Han Sea Un  All rights reserved -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>:: 미 래 마 켓 ::</title>
    <link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mobile_header.css">
    <link rel="stylesheet" href="/static/css/tablet_header.css">
    <link rel="stylesheet" href="/static/css/desktop_header.css">
    <link rel="stylesheet" href="/static/css/mobile.css">
    <link rel="stylesheet" href="/static/css/tablet.css">
    <link rel="stylesheet" href="/static/css/desktop.css">
    <link rel="stylesheet" href="/static/css/mobile_sub.css">
    <link rel="stylesheet" href="/static/css/tablet_sub.css">
    <link rel="stylesheet" href="/static/css/desktop_sub.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        <div class="banner_layout">
            <a href="/" target="_blank"><img src="static/img/header/banner.JPG" alt="banner"></a>
            <div class="close">
                <div class="close_bar"></div>
                <div class="close_bar"></div>
            </div>
        </div>
    </div>
    <div class="header_wrap ">
        <header class="header layout">
            <a href="/">미 래 마 켓</a>
            <form action="#" method="get">
                <input type="search" placeholder="검색">
            </form>
        </header>
    </div>
    <div class="header_wrap header_fixed">
        <header class="header layout">
            <ul>
                <li><a href="#">베스트</a></li>
                <li><a href="#">쿠폰/출첵</a></li>
                <li><a href="#">슈퍼딜</a></li>
                <li><a href="#">스마일배송</a></li>
                <li><a href="#">홈플러스</a></li>
                <li><a href="#">G9</a></li>
            </ul>
            <ul class="admin">
                <li><a href="#">장바구니</a></li>
                <li><a href="#">나의 쇼핑</a></li>
                <li><a href="/app/view/join.html" class="join">회원가입</a></li>
                <li><a href="/app/view/login.html" class="login">로그인</a></li>
            </ul>
        </header>
    </div>
    <main class="con layout">
        <h1 style="text-align: center;width: 100%;line-height: 500px;">공사중입니다.</h1>
    </main>
    <div class="footer_wrapper">
        <footer class="footer">
            <ul class="layout">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">전자금융거래약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">입점문의</a></li>
                <li><a href="#">셀러존</a></li>
                <li><a href="#">브랜드광고센터</a></li>
                <li><a href="#">안전거래센터</a></li>
                <li><a href="#">Open API</a></li>
                <li><a href="#">서비스맵</a></li>
            </ul>
        </footer>
        <footer class="footer layout">
            <div class="footer_con">
                <a href="/">미 래 마 켓</a>
                <address>
                    <h3>(주)미래마켓</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    대표이사 : 한세운 <br/>
                    통신판매업신고 : 2017-경기성남-1234<br/>
                    Tel: 1234-5678 Fax: 02-123-4567<br/>
                </address>
                <address>
                    <h3>고객센터</h3>
                    세운특별시 세운구 세운로 914 (세운동)<br/>
                    Tel : 1234-5678<br/>
                    Fax : 02-123-4567<br/>
                    E-mail : HanSeaUn@naver.com<br/>
                </address>
            </div>
            <div class="footer_copy">
                <p>미래마켓(주)은 통신판매중개자로서 오픈마켓 미래마켓의 거래당사자가 아니며, 입점판매자가 등록한 상품정보 및 거래에 대해 미래마켓(주)은 일체 책임을 지지 않습니다.</p>
                <p>Copyright Han Sea Un. All rights reserved.</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>